<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="1234"/>
    <add key="ApplicationName" value="Restful"/>
    <add key="xmlPath" value="\App_Data\"/>
    <!--<add key="ObjectType" value="instrument"/>
    <add key="ModifiedProperty" value="MR_Number"/>
    <add key="ModifiedValue" value="000- TAG -111"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
