<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="AuthToken" value= "OztRMqjL26hnDJRhoenzLT18znIH" ></add>
      <add key="AppKey" value= "3627c519d78e24772ed8375d4e878e2d" ></add>
      <add key="DefaultKeyDelimiter" value="_" />
      <add key="BaseUrl" value= "https://api-staging.mypsn.com/svc1/v2/businesshierarchy/" ></add>
      <add key="Object_Project" value= "Projects" ></add>
      <add key="Object_Function" value= "Functions" ></add>
    </appSettings>
</configuration>